ProductsService/ProductsClient/Connected Services/ProductsService/ProductsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Products" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductData" nillable="true" type="tns:ProductData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductData" nillable="true" type="tns:ArrayOfProductData" />
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
</xs:schema>