ProductsService/ProductsClient/Connected Services/ProductsService/ProductsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52367/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Products" />
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Products" minOccurs="0" name="ListProductsResult" nillable="true" type="q1:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Products" minOccurs="0" name="GetProductResult" nillable="true" type="q2:ProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>